@charset "UTF-8";

/*Estilos para impressoras*/

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

menu{
    display: none;
}

main{
    text-align: justify;
}

article::after{
    content: 'Este contrudo foi montado em cursoemvideo';
}