@charset "UTF-8";

@media only screen and (min-width:768px){
    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul {
        display: flex;
    }
    menu li{
        display: flex;
        margin-right: 5px;
    }

    main{
        width: 768px;
    }
}